<div class="m-portlet">
  <%= render partial: 'shared/form_head', locals: {
  title: @form_title, sub_title: @form_sub_title
  } %>

  <%= simple_form_for(
  [:admin, current_object],
  wrapper: :inline_form,
  html: { class: 'm-form m-form--fit m-form--label-align-right'}) do |f| %>
  <div class="m-portlet__body">
    <div class="m-form__section m-form__section--first">
      <div class="row">
        <div class="col-xl-10 offset-xl-1">
          <div class="form-group m-form__group row">
            <%= f.input :name,
            wrapper_html: { class: 'col-lg-6 col-md-9 col-sm-12' },
            label: label_with_icon("設備名稱", "la la-television") %>
            <%= f.input :mac,
            wrapper_html: { class: 'col-lg-6 col-md-9 col-sm-12' },
            label: label_with_icon("MAC", "la la-database") %>
          </div>

          <div class="form-group m-form__group row">
            <%= f.association :store,
            wrapper_html: { class: 'col-lg-6 col-md-9 col-sm-12' },
            label: label_with_icon("店家", "la la-home") %>
            <div class="col-lg-6 col-md-9 col-sm-12">
              <label>
                <i class="la la-warning"></i>
                測試模式
              </label>
              <div class="col-3">
                <label>
                <span class="m-switch m-switch--icon m-switch--info">
                  <%= f.check_box :test_mode, as: :boolean %>
                  <span></span>
                </label>
              </div>
            </div>
          </div>

          <% unless current_object.new_record? %>
          <div class="form-group m-form__group row">
            <div class="col-lg-6 col-md-9 col-sm-12">
              <label>
                <i class="la la-clock-o"></i>
                設備最後回報時間
              </label>
              <div class="col-lg-6 col-md-9 col-sm-12">
                <%= content_tag(:p, current_object.last_report_time.to_s, class:"static") %>
              </div>
            </div>
          </div>
          <% end %>

          <div class="form-group m-form__group row">
            <%= f.input :note,
            wrapper_html: { class: 'col-lg-12 col-md-12 col-sm-12' },
            label: label_with_icon("備註", "la la-sticky-note") %>
          </div>

        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'shared/submit', locals: { f: f, cancel_path: admin_devices_path } %>
  <% end %>
</div>
